<div class="perplex-user-dashboard" ng-controller="PerplexUserDashboardController as vm"
    perplex-on-tab-focus="{ once: vm.fn.init }">
    <select no-dirty-check ng-model="vm.state.search.filters.UserId" ng-change="vm.fn.search(1)" ng-options="user.Id as user.Name for user in vm.state.users">
        <option value="">All users</option>
    </select>    

    <select no-dirty-check ng-model="vm.state.search.filters.Event" ng-change="vm.fn.search(1)" ng-options="event.Key as event.Value for event in vm.state.events">
        <option value="">All events</option>
    </select>    

    <perplex-paged-listview
        items="vm.state.search.results.Items"
        paging="vm.state.search.results.Paging"
        goto-page="vm.fn.gotoPage"
        columns="vm.state.columns"
    ></perplex-paged-listview>
</div>    