<?xml version="1.0" encoding="utf-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <emailTemplate><![CDATA[
            <h1>[#title#]</h1>
            <p>[#body#]</p>]]></emailTemplate>
  <lockedEmailSubject>Your account was locked</lockedEmailSubject>
  <lockedEmailBody><![CDATA[]]></lockedEmailBody>
  <createdEmailBody><![CDATA[]]></createdEmailBody>
</settings>