<?xml version="1.0" encoding="utf-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1">
  <emailTemplate><![CDATA[[#body#]]]></emailTemplate>
  <lockedEmailSubject>An account was locked</lockedEmailSubject>
  <lockedEmailRecipientAddress>daniel@perplex.nl</lockedEmailRecipientAddress>
  <lockedEmailBody><![CDATA[<p>Hello,</p>
<p>User account [#username#] was locked at [#datetime#] at [#website#].</p>]]></lockedEmailBody>
</settings>